<div class="card mb-3">
  <div class="card-body">
    {% if blog_post.image %}
      <img src="{{ blog_post.image.url }}" class="card-img-top">
    {% endif %}
    
    <div class="row">
      <div class="col-9">
        <h5 class="card-title">{{ blog_post.title }}</h5>
      </div>
      <div class="col-3">
        <!--  Date of creation is only showed if the user is authenticated. -->
        {% if request.user.is_authenticated %}
          <small>{{ blog_post.timestamp }}</small>
        {% endif %}
      </div>
    </div>
    
    <div class="dropdown-divider"></div>

    {% if truncate %}
      <p class="card-text">{{ blog_post.content | linebreaks | truncatewords:50 }}</p>
    {% else %}
      <p class="card-text">{{ blog_post.content | linebreaks }}</p>
    {% endif %}

    <small>Publish date: {{ blog_post.publish_date }}</small>
    <div class="row justify-content-end">
      {% if not detail %}
        <div class="text-left col-4">
          <b><a href="{{ blog_post.get_absolute_url }}">View post</a></b>
        </div>
      {% endif %}

      <div class="text-right col-8">
        {% if request.user.is_authenticated %}
          {% if request.user.is_staff %}
            <b><a href="{{ object.get_edit_url }}" class="text-success">Edit</a></b>
            <b><a href="{{ object.get_delete_url }}" class="text-danger">Delete</a></b>
          {% endif %}
        {% endif %}
      </div>
    </div>
    
  </div>
</div>